.hide{
	display: none;
}

.main-container{
	padding-top: 150px;
}

.featurette{
	display: table !important;
}

.nav li img{
	width: 17px;
}

.page-index .img-icon, 
.page-contribua .img-icon{
	width: 100%;
}

#home{
	padding: 20px 0px;
	display: table;
	clear: both;
}

#home .result-drunk{
	background-color: #E5C953;
	padding: 5px;
	font-size: 16px;
	float: left;
	margin: 5px;
	width: 58px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

footer{
	clear: both;
}

footer .container{
	margin-top: 40px;
	padding: 30px;
}